<div class="navbar navbar-inverse bg-info">
  <a class="navbar-brand">Webpack builder</a>
</div>
<div class="m-t-1">
  <div class="col-xs-3">
    <button class="btn btn-outline-info btn-block"
            routerLink="/admin/main/connection"
            routerLinkActive="active">
      Соединения
    </button>
    <button class="btn btn-outline-danger btn-block" (click)="logout()">
      Разлогиниться
    </button>
  </div>
  <div class="col-xs-9">
    <router-outlet></router-outlet>
  </div>
</div>
