<div class="bg-primary p-a-1 text-xs-center">
  <h3>Webpack builder UI</h3>
</div>
<div class="bg-danger m-t-1 p-a-1 text-xs-center"
     *ngIf="errorMessage != null">
  {{errorMessage}}
</div>

<div class="col-md-4 offset-md-4">
  <div class="p-a-1">
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
      <div class="form-group">
        <label>Логин</label>
        <input class="form-control" name="username"
               [(ngModel)]="username" required/>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <input class="form-control" type="password" name="password"
               [(ngModel)]="password" required/>
      </div>
      <div class="text-xs-center">
        <button class="btn btn-primary" type="submit">Залогиниться</button>
        <button class="btn btn-secondary" routerLink="/">Зарегистрироваться</button>
      </div>
    </form>
  </div>
</div>
