<div class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand">Детали билда</a>
</div>

<div class="row">
  <button class="btn btn-primary m-t-1 m-l-2" routerLink="/build">Назад</button>
</div>

<style>
  .card-flexible {
    -webkit-flex: 1 1 auto;
    overflow-y: auto;
    height: 80vh;
  }


  .card-flexible > *:not(:last-child) { margin-bottom: 32px; }
</style>

<div class="card-flexible">
  <div class="m-a-1">
    <table class="table table-bordered table-striped p-a-1">
      <thead>
      <tr>
        <th>Наименование измененного скрипта</th>
        <th ></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="editedScripts == 0">
        <td colspan="2" class="text-xs-center">
          Your cart is empty
        </td>
      </tr>
      <tr *ngFor="let webResource of webResources">
        <td>{{webResource.crmFileName}}</td>
        <td class="text-xs-center">
          <input type="checkbox" [checked]="webResource.isAutoUpdate" (change)="webResource.isAutoUpdate = !webResource.isAutoUpdate"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div fxFlex="50">
    <div class="m-a-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Логи формирования {{build && build.buildName}}</h5>
          <p class="card-text">{{build&&build.buildLog}}</p>
        </div>
      </div>
    </div>
    <div layout="row" flex="50">
    </div>
  </div>
</div>
