<div class="navbar navbar-inverse bg-inverse">  
    <a class="navbar-brand">Webpack Builds</a>  
</div>
<div class="col-xs-3 p-a-1">  
    <button class="btn btn-block btn-outline-primary"
            (click)="runFastBuild()">
        Быстрый билд скриптов
    </button>   
</div>  
<div class="col-xs-9 p-a-1">
  <div *ngFor="let build of buildsChunk" class="card card-outline-primary">
    <h4 class="card-header">
      {{build.buildName}}
    </h4>
    <div class="card-text p-a-1" [class]="build.buildStatusType==2 ? 'alert alert-success':'alert alert-danger'">
      {{build.buildDescription}}
      <button class="btn btn-success btn-sm pull-xs-right"
              (click)="openBuildDetail(build)">
        Детали
      </button>
    </div>
  </div>
  <p-paginator rows="4" [alwaysShow]="false" [totalRecords]="builds&&builds.length" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[4,6,8]" (onLazyLoad)="paginate($event)"></p-paginator>
</div>
<ng4-loading-spinner [timeout]="120000" [loadingText]="'Подождите...'"> </ng4-loading-spinner>
<p-growl [(value)]="msgs"></p-growl>
