<div class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand">Детали билда</a>
</div>

<div flex fxLayout="row">
  <div fxFlex="50">
    <div class="m-a-1">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Логи формирования {{build && build.buildName}}</h5>
          <p class="card-text">{{build&&build.buildLog}}</p>
        </div>
      </div>
    </div>
    <div layout="row" flex="50">
      <table class="table table-bordered table-striped p-a-1">
        <!--<thead>
          <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th class="text-xs-right">Price</th>
            <th class="text-xs-right">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="cart.lines.length == 0">
            <td colspan="4" class="text-xs-center">
              Your cart is empty
            </td>
          </tr>
          <tr *ngFor="let line of cart.lines">
            <td>
              <input type="number" class="form-control-sm"
                     style="width:5em"
                     [value]="line.quantity"
                     (change)="cart.updateQuantity(line.product,
                                    $event.target.value)" />
            </td>
            <td>{{line.product.name}}</td>
            <td class="text-xs-right">
              {{line.product.price | currency:"USD":true:"2.2-2"}}
            </td>
            <td class="text-xs-right">
              {{(line.lineTotal) | currency:"USD":true:"2.2-2" }}
            </td>
            <td class="text-xs-center">
              <button class="btn btn-sm btn-danger"
                      (click)="cart.removeLine(line.product.id)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-xs-right">Total:</td>
            <td class="text-xs-right">
              {{cart.cartPrice | currency:"USD":true:"2.2-2"}}
            </td>
          </tr>
        </tfoot>-->
      </table>
    </div>

    <div class="text-xs-center">
      <button class="btn btn-primary" routerLink="/store">Continue Shopping</button>
      <button class="btn btn-secondary" routerLink="/checkout">
        Checkout
      </button>
    </div>
  </div>
</div>
